<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>

<a href='/movie'>Movie</a>

</body>
</html>

