<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Watch Java Spring</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
</head>
<body>
    <header id="header" >
        <nav id="nav">
            <div  id="nav-logo-container" class="nav-container nav_logo">
                <a th:href="@{./movie}" id="logo" title="Watch" class="logo-image" >
                    <img th:src="@{/images/Watch.png}" id="logo_watch" alt="logo_watch"/>
                </a>
            </div>
            <div id="nav-name-container" class="nav-container nav-name">
                <h1 th:text="${movie_title}"></h1>
            </div>
            <div  id="nav-search" class="nav-container">
                <div class="searchBox">
                    <label>
                        <input class="searchInput" type="text" name="" placeholder="Rechercher un film ...">
                    </label>
                    <button class="searchButton" >
                        <i class="material-icons">
                            search
                        </i>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <div id="body-container">
        <div class="user-container">
            <img id="user-picture" th:src="${large}" alt="user-picture">
            <div id="info-user">
                <h2 id="name-user" th:text="${title + ' ' + first + ' ' + last}"></h2>
                <br/>
                <h3 th:text="${number + ' ' + name}"></h3>
                <h3 th:text="${postcode + ' ' + city}"></h3>
                <h3 th:text="${email}"></h3>
                <h2 th:text="${phone}"></h2>
            </div>
        </div>

        <div id="movie-container" th:style="'background-image: linear-gradient(90deg, rgba(36,42,75,1) 0%, rgba(100,108,190,0.6) 50%),  url('+${movie_backdrop_path}+') ;  background-size: cover;'" >
            <div class="blur">
                <div id="info-movie">
                    <div id="details-movie">
                        <h3 id="name-movie" th:text="${movie_title}"></h3>
<!--                        <br/>-->
                        <p th:text="${movie_name}"></p>
<!--                        <br/>-->
                        <p th:text="'Release:  ' + ${release_date}"></p>
                        <p th:text="'Budget:  ' +  ${movie_budget} + ' $'"></p>
<!--                        <br/>-->
                        <p th:text="'Revenue:  ' + ${movie_revenue} + ' $'"></p>
<!--                        <br/>-->
                        <p th:text="'Synopsis:  '" style="margin-bottom: 0"></p>
                        <div class="justify-and-scroll" >
                            <p id="p-scroll" th:text="${movie_overview}"></p>
                        </div>
                    </div>
                </div>


                <div id="poster-container">
                    <img th:src="${movie_poster_path}" alt="affiche de film">
                    <div id="chart-rating">
                        <section>
                            <svg th:with="rate_percent=${movie_vote_average * 10}" class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                <circle class="circle-chart__background" stroke="#c7bfbf" stroke-width="1" fill="white" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                <circle class="circle-chart__circle" stroke="#f0c326" stroke-width="2" th:style="'stroke-dasharray: '+${rate_percent}+',100'" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                <g class="circle-chart__info">
                                    <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8" th:text="${rate_percent}"></text>
                                </g>
                            </svg>

                        </section>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer id="footer">
                <div class="">
                    <p class="">&copy; 2021  -  Team  -  Adrien GRANDPIERRE  -  Arnaud CHRÉTIEN  -  Anthony CUSTODIO. Tous droits réservés</p>
                </div>
    </footer>
</body>
</html> 