a {
    background-color: red;
    box-shadow: 0 5px 0 darkred;
    color: white;
    padding: 1.5em 10em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    background-color: #ce0606;
}

a:active {
    box-shadow: none;
    top: 5px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

html, body {margin: 0; height: 100%; overflow: hidden}

html {
    background: url(https://wallpapercave.com/wp/wp4016023.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}