/*

  -------------------------------------------------------------------------

    01. Header
    02. Search
    03. Elements
    04. Content
    05. Blog
    06. Comments
    07. Page
    08. Portfolio
    09. Widgets
    10. Footer
    11. Responsive
  
  -------------------------------------------------------------------------*/

h1 {
    font-size: 40px;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', serif;
}
#body-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    width: 100% ;
    height: calc(100vh - 100px);
    z-index: -9999;
}

p {
    font-size: 28px;
}

/*#region NAV*/

#header {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #F3F3F3;
    color: #2f3640;
    font-family: 'Montserrat', serif;
    position: fixed;
    overflow: hidden;
}

#logo_watch {
    width: 200px;
}

#nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100px;
}

.nav-container {
    width: calc(100% / 3);
}

#nav-logo-container {
    padding-left: 100px;
    display: flex;
    align-items: center;
}

#nav-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


#nav-search {
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}

/*#endregion NAV*/

/*#region Search*/
.searchBox {
    position: absolute;
    top: -40%;
    transform:  translate(-0%,100%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;

}

.searchBox:hover > label > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > label >  .searchButton {
    background: #2f3640;
    color : #F3F3F3;
}

.searchButton {
    color: black;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    font-size: 16px;
    transition: 0.4s;
    line-height: 35px;
    width: 0;
    color: white;

}

@media screen and (max-width: 620px) {
    .searchBox:hover > .searchInput {
        width: 150px;
        padding: 0 6px;
    }
}

/*#endregion Search*/

/*#region User*/
.user-container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #242a4b;
    color: #F3F3F3;
    z-index: -9999;
}
#user-container h2 {
    color: #F3F3F3;
    font-size: 20px;
}

#name-user{
    font-size: 30px;
    text-align: center;
}
#user-picture {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#info-user {
    padding: 50px;
}

/*#endregion User*/

/*#region Movie*/

#movie-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    z-index: -9999;
    width: 80%;
}

#name-movie{
    font-size: 60px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px;
}

.blur {
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: row;
    color: #F3F3F3;
}

#info-movie {
    width: 55%;
    padding: 70px 0 0 50px;
    z-index: 1999;
}

.justify-and-scroll {
    text-align: justify;
    overflow-y: auto;
}

.justify-and-scroll p {
    padding-right: 20px;
    height: 250px;
    font-size: 20px;
}

#p-scroll {
    overflow-y: scroll;
    max-height: 490px;
}

#details-movie {
    margin: 0 20px 0 20px;
    max-height: 100%;
}

#poster-container {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    z-index: -9999;
}

#poster-container img {
    width: 75%;
}
/*#endregion Movie*/

/*#region ChartsCircle*/

#chart-rating {
    position: absolute;
    bottom: 80px;
    right: 90px;
    text-align: center;
}

.circle-chart {
    padding: 5px;
}
.circle-chart__circle {
    animation: circle-chart-fill 2s reverse; /* 1 */
    transform: rotate(-90deg); /* 2, 3 */
    transform-origin: center; /* 4 */
}

.circle-chart__circle--negative {
    transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
}

.circle-chart__info {
    animation: circle-chart-appear 2s forwards;
    opacity: 0;
    transform: translateY(0.3em);
}

@keyframes circle-chart-fill {
    to { stroke-dasharray: 0 100; }
}

@keyframes circle-chart-appear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/*#endregion ChartsCircle*/

/*#region Footer*/
footer {
    background-color: #F3F3F3;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
}

footer p {
    margin: 0;
}

/*#endregion Footer*/